<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
  <test name="API_Test">
    <classes>
      <class name="com.jiaqu365.weixin.cp.api.WxCpBusyRetryTest"/>
      <class name="com.jiaqu365.weixin.cp.api.WxCpBaseAPITest"/>
      <class name="com.jiaqu365.weixin.cp.api.WxCpMessageAPITest"/>
      <class name="com.jiaqu365.weixin.cp.api.WxMenuAPITest"/>
      <class name="com.jiaqu365.weixin.cp.api.WxCpDepartAPITest"/>
      <class name="com.jiaqu365.weixin.cp.api.WxCpMediaAPITest"/>
      <class name="com.jiaqu365.weixin.cp.api.WxCpMessageRouterTest"/>
      <class name="com.jiaqu365.weixin.cp.api.WxCpTagAPITest"/>
      <class name="com.jiaqu365.weixin.cp.api.WxCpUserAPITest"/>
    </classes>
  </test>

  <test name="Bean_Test">
    <classes>
      <class name="com.jiaqu365.weixin.cp.bean.WxCpMessageTest"/>
      <class name="com.jiaqu365.weixin.cp.bean.WxCpXmlMessageTest"/>
      <class name="com.jiaqu365.weixin.cp.bean.WxCpXmlOutImageMessageTest"/>
      <class name="com.jiaqu365.weixin.cp.bean.WxCpXmlOutNewsMessageTest"/>
      <class name="com.jiaqu365.weixin.cp.bean.WxCpXmlOutVideoMessageTest"/>
      <class name="com.jiaqu365.weixin.cp.bean.WxCpXmlOutVoiceMessageTest"/>
      <class name="com.jiaqu365.weixin.cp.bean.WxCpXmlOutTextMessageTest"/>
    </classes>
  </test>
</suite>
